footer {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #222;
  padding-bottom: 2rem;
}

footer .tn-boxFooter {
  display: flex;
  flex-direction: column;
  width: 100%;
}

footer .tn-boxFooter .titulo-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0.8rem 0;
  border-bottom: 1px solid #c7c7c7;
}
footer .tn-boxFooter .titulo-footer > span {
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  font-family: "lato", sans-serif;
}
footer .tn-boxFooter .tn-footer-iconsSociais {
  display: flex;
  align-items: center;
}
footer .tn-boxFooter .tn-footer-iconsSociais a {
  display: block;
  width: 100%;
  max-width: 1.5rem;
  margin-left: 0.5rem;
}
footer .tn-boxFooter .tn-footer-iconsSociais a > img {
  width: 100%;
}

footer .fn-footer-links {
  display: flex;
  justify-content: space-between;
  margin-top: 1.8rem;
}
footer .fn-footer-links .footer-coluna {
  display: flex;
  flex-direction: column;
}
footer .fn-footer-links .footer-coluna:nth-child(5){
    display: flex;
    justify-content: center;

}
footer .fn-footer-links .footer-coluna:nth-child(5) >div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 12rem;
    border-left: 1px solid #c7c7c7;
    padding-left: 1.6rem;
}
footer .fn-footer-links .footer-coluna > h3 {
  color: #fff;
  font-family: "lato-bold", sans-serif;
  font-size: 17px;
  
}
footer .fn-footer-links .footer-coluna > ul > li {
  list-style: none;
  margin-top: 0.5rem;
}
footer .fn-footer-links .footer-coluna > ul > li > a {
  text-decoration: none;
  color: #fff;
  font-family: "lato", sans-serif;
  font-size:14px;
}

footer .fn-footer-links .footer-coluna >div> figure {
  width: 100%;
  max-width: 8rem;
}
footer .fn-footer-links .footer-coluna >div > figure > img {
  width: 100%;
}
footer .fn-footer-links .footer-coluna >div> .tx-footer-creditos {
  width: 100%;
  max-width: 8rem;
}
footer .fn-footer-links .footer-coluna > div> .tx-footer-creditos > span {
  color: #fff;
  font-family: "lato", sans-serif;
  font-size: 12px;
}

@media (max-width:1024px){
  footer .tn-boxFooter .titulo-footer > span{
    display: none;
  }
  footer .tn-boxFooter .tn-footer-iconsSociais{
    gap: 1rem;
  }
  footer .fn-footer-links{
    flex-direction: column;
    align-items: center;
  }
  footer .fn-footer-links .footer-coluna{
    align-items: center;
    width: 100%;
  }
  footer .fn-footer-links .footer-coluna ul{
    text-align: center;
    width: 100%;
    margin-bottom: 2rem;
  }
  footer .fn-footer-links .footer-coluna > ul > li{
    margin: 0;
    border-bottom: 2px solid #2e2e2e;
    padding: .9rem 0;
 
  }
  footer .fn-footer-links .footer-coluna > ul > li > a {
    font-size:1rem ;
  }
  footer .fn-footer-links .footer-coluna > h3 {
    font-size:1.1rem ;
  }
  footer .fn-footer-links .footer-coluna:nth-child(5) >div{
    border: none;
    padding: 0;
    align-items: center;
  }
  footer .fn-footer-links .footer-coluna >div> .tx-footer-creditos{
    max-width: 100%;
    text-align: center;
    margin-top: 1rem;
  }
  footer .fn-footer-links .footer-coluna > div> .tx-footer-creditos > span{
    font-size: .9rem;
  }
}