

/*HEADER CONTENDO A LOGO DO PORTAL*/
header {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #fff;
  padding: 5px 0;
}
header .tn-boxHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10rem;
}
header .tn-header-boxLogo{
 width: 100%;
 max-width: 13rem;
}
header .tn-header-boxLogo > img{
  width: 100%;
 }
header .tn-boxHeader .tn-header-boxOptionLeft{
  display: flex;
  align-items: center;
  gap: 1.8rem;
}
header .tn-header-boxMenu {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 10rem;
}
header .tn-header-boxMenu a {
  font-size: 0.8rem;
  color: var(--tn-tx-red);
  text-decoration: none;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  margin-left: 1rem;
}

header .tn-header-boxMenu .tn-box-btnMenu {
  display: flex;
  align-items: center;
}

header .tn-header-boxMenu .tn-box-btnMenu .btnMenu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1.4rem;
  height: 1.2rem;
  cursor: pointer;
}

header .tn-header-boxMenu .tn-box-btnMenu .btnMenu .list-btn {
  border: 2px solid var(--tn-tx-red);
}


/*BUSCA DO HEADER*/
header .tn-header-boxBusca{
  display: flex;
    align-items: center;
    width: 100%;
    max-width: 10rem;
}

header .tn-header-boxBusca >.iconBusca{
  width: 100%;
  max-width: 1rem;
}
header .tn-header-boxBusca >.iconBusca > img{
  width: 100%;
}
header .tn-header-boxBusca > a{
   font-size: 0.8rem;
  color: var(--tn-tx-red);
  text-decoration: none;
  font-family: "Lato", sans-serif;
  margin-left: .8rem;
  font-weight: 600;
}
/*LINK PARA ULTIMA EDICAO*/
header .tn-header-boxEdicao {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .tn-header-boxEdicao a {
  text-decoration: none;
  font-family: "Lato", sans-serif;
  color: var(--tn-tx-black);
  font-weight: 600;
}
header .tn-header-boxEdicao .tn-img-edicao {
  width: 100%;
  max-width: 5rem;
}
header .tn-header-boxEdicao .tn-img-edicao img {
  width: 100%;
}

@media (max-width: 1024px){
 
  header .tn-header-boxEdicao{
    display: none;
  }
  header .tn-boxHeader{
    height: 100%;
  }
  header .tn-header-boxLogo{
    width: 100%;
    max-width: 8rem;
  }
   header .tn-header-boxLogo > img{
    width: 100%;
   }
  header .tn-boxHeader{
    flex-direction: row-reverse;
  }
  header .tn-boxHeader .tn-header-boxOptionLeft{
    flex-direction: row-reverse;
  }
  header .tn-boxHeader .tn-header-boxOptionLeft .tn-box-btnMenu > a,
  header .tn-boxHeader .tn-header-boxOptionLeft .tn-header-boxBusca > a{
display: none;
  }
  header .tn-header-boxBusca >.iconBusca{
    width: 2.8rem;
  }
.tn-box-navBar{
    margin-top: 0;
  }
}