.tn-artigo{
    display: flex;
    justify-content: center;
    width: 100%;
}
.tn-artigo .tn-boxContent-artigo{
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.tn-artigo .tn-boxContent-artigo .tn-content-artigo{
    display: flex;
    flex-direction: column;
    width: calc(100% - 25%);
}
.tn-artigo .tn-boxContent-artigo .tn-content-artigo .img-artigo{
    width: 100%;
    background-color: var(--tn-bg-gray);
    padding: .3rem;
    border-radius: 4px;
}
.tn-artigo .tn-boxContent-artigo .tn-content-artigo .img-artigo > img{
    width: 100%;
    border-radius: 4px;
}
.tn-artigo .tn-boxContent-artigo .tn-content-artigo .img-artigo > span{
    color: var(--tn-tx-gray);
    font-family: "Lato",sans-serif;
    font-size: .9rem;
    margin-left: .7rem;
}

/*CREDITOS DO ARTIGO*/
.tn-artigo .tn-boxContent-artigo .tn-content-artigo .tn-creditos-artigo{
    display: flex;
    flex-direction: column;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
}
.tn-artigo .tn-boxContent-artigo .tn-content-artigo .tn-creditos-artigo > .tx-credito > span{
    font-size: 1rem;
    font-family: "Lato",sans-serif;
    color: #808080;
}
.tn-artigo .tn-boxContent-artigo .tn-content-artigo .tn-creditos-artigo > .tx-credito > div{
    margin-top: .5rem;
}
.tn-artigo .tn-boxContent-artigo .tn-content-artigo .tn-creditos-artigo > .tx-credito > div >span{
    font-size: .9rem;
    font-family: "Lato",sans-serif;
    color: #808080;
}

.tn-artigo .tn-boxContent-artigo .tn-content-artigo .tn-creditos-artigo > .tx-credito >.tn-googleNews{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 10rem;
    border: 1px solid  #c9c9c9;
    padding: .5rem;
}

.tn-creditos-artigo > .tx-credito >.tn-googleNews > .imgGoogleNews{
    width: 100%;
    max-width: 2rem;
}
.tn-creditos-artigo > .tx-credito >.tn-googleNews > .imgGoogleNews > img{
    width: 100%;
}
.tn-creditos-artigo > .tx-credito > .tn-googleNews span{
    font-size: .5rem ;
    font-family: "Lato",sans-serif;
    font-weight: 600;
    color: var(--tn-tx-black);
    margin-left: .9rem;
}

/*BANNER DE ANUNCIE NO PORTAL*/
.tn-bannerAnuncie{
    display: flex;
    align-items: center;
    width: 100%;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    padding: .8rem 0;
    margin-bottom: 1.2rem;
}
.tn-bannerAnuncie >span{
    background-color: #e1e1e1;
    font-size: 1rem;
    font-family: "Lato",sans-serif;
    color: var(--tn-tx-black);
    padding: .3rem;
    font-style: italic;
}
.tn-bannerAnuncie > span > a> b{
    
    font-style: normal;
}
.tn-publicidade{
    text-align: center;
}
.tn-publicidade > span{
    text-align: center;
    font-size: .7rem;
    color: #808080;
}

article{
    word-wrap: break-word;
    line-height: 32px;
    font-size: 1.5rem;
    color: var(--tn-tx-black);


}
article > aside{
    text-align: center;
}

article > aside > span{
    text-align: center;
    font-size: .7rem;
    color: #808080;
}
article p{
    font-family: "Lato",sans-serif;
    font-weight: 300;
    margin-bottom: 2.7rem;
}
article p i{
    color: var(--tn-tx-black);
    font-weight: 700;
}
article a{
    color: #ff1c1c;
}

/*AREA DE CATEGORIAS RELACIONADAS*/
article .tn-catRelacionadas{
    display: flex;
    flex-direction: column;
    width: 100%;
}
article .tn-catRelacionadas > .titulo-catRelacionadas > span{
    font-size: 1rem;
    color: var(--tn-tx-gray);
    font-family: "Lado",sans-serif;
    font-weight: 600;
}

article .tn-catRelacionadas > .links-catRelacionadas{
    display: flex;
    width: 100%;
    max-width: 25rem;

}
article .tn-catRelacionadas > .links-catRelacionadas > .left >a{
    text-decoration: none;
    background-color: #e2e2e2;
    color: var(--tn-tx-black);
    font-family: "Lado",sans-serif;
    font-size: .9rem;
    font-weight: 400;
    text-transform: uppercase;
    padding: 8px;

}


/*AREA DE ANUNCIO LATERAL*/
.tn-artigo .tn-boxContent-artigo .tn-anuncio-aside{
    position: relative;
    width: calc(100% - 75%);
}
.tn-artigo .tn-boxContent-artigo .tn-anuncio-aside aside{
    position: sticky;
    top: 30px;
    z-index: 3;
    height: 35rem;
    background-color: #969696;
}