/*BARRA DE NAVEGACAO NO HEADER*/
.tn-box-navBar {
  position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5px;
    background-color: var(--tn-tx-red);
    margin-top: -1rem;
    z-index: 1;
  }
  .tn-box-navBar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 .9rem;
  }
   .tn-navBar {
    width: 100%;
    max-width: 45rem;
    margin-right: 3rem;
  }
  
  .tn-navBar > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
   .tn-navBar > ul > li > a {
    font-size: 12px;
    color: #fff;
    text-decoration: none;
    font-family: "lato", sans-serif;
  }
   .tn-boxClimaCotacao {
    display: flex;
    justify-content: end;
    width: 100%;
    max-width: 28rem;
  }
  .tn-boxClimaCotacao .tn-clima {
    display: flex;
    align-items: center;
    gap:.7rem;
    border-right: 1px solid #fff;
    cursor: pointer;
  }
  .tn-boxClimaCotacao .tn-clima > span{
    color: #fff;
    font-size: 11px;
    font-family: "lato-bold", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
  }
  .tn-boxClimaCotacao  .tn-clima > span:nth-child(3){
    font-family: "lato", sans-serif;
    font-size: 14px;
    font-weight: 500;
    padding-right: .6rem;
  }
   
  .tn-boxClimaCotacao .tn-cotEuro{
    padding: 0 .6rem;
    cursor: pointer;
  }

  .tn-boxClimaCotacao .tn-cotEuro .container-textCotEuro > span,
    .tn-boxClimaCotacao .tn-cotDolar .container-textCotDolar > span
  {
    font-family: 'lato',sans-serif;
    color: #fff;
    font-size: 12px;
  }
  .tn-boxClimaCotacao .tn-cotEuro .container-textCotEuro > strong,
  .tn-boxClimaCotacao .tn-cotDolar .container-textCotDolar > strong
  {
    font-family: 'lato-bold',sans-serif;
    color: #fff;
    font-size: 12px;
  }
  .tn-boxClimaCotacao .tn-cotDolar{
    border-left: 1px solid #fff;
    padding-left: .6rem;
    cursor: pointer;
  }
  
   .tn-boxClimaCotacao .tn-cotEuro,
   .tn-boxClimaCotacao .tn-cotDolar {
    display: flex;
    align-items: center;
  }
   .tn-boxClimaCotacao .tn-cotEuro > .imgCotEuro,
   .tn-boxClimaCotacao .tn-cotDolar > .imgCotDolar,
   .tn-boxClimaCotacao .tn-clima > .imgClima {
    width: 100%;
    max-width: 1.4rem;
    margin-right: .6rem;
  }
   .tn-boxClimaCotacao .tn-cotEuro > .imgCotEuro img,
   .tn-boxClimaCotacao .tn-cotDolar > .imgCotDolar img,
   .tn-boxClimaCotacao  .tn-clima img {
    width: 100%;
  }
  
   .tn-boxClimaCotacao .tn-cotEuro > .container-textCotEuro,
   .tn-boxClimaCotacao .tn-cotDolar > .container-textCotDolar {
    display: flex;
    flex-direction: column;
  }
  

  @media (max-width:1024px) {
    .tn-boxClimaCotacao{
      display: none;
    }
    .tn-box-navBar{
      padding: 8px 0;
    }
    .tn-navBar{
      width: 100%;
      overflow-x: scroll;
    overflow-y: hidden;
    }
    .tn-navBar::-webkit-scrollbar{
      background: transparent;
      height: 8px;
      margin-top:15px;
    }
    .tn-navBar::-webkit-scrollbar-thumb{
      background: #af181bcc;
      border-radius: 8px;
      height: 8px;
    } 

    .tn-navBar::-webkit-scrollbar-track-piece{
      background: transparent;
      border-radius: 8px;
      height: 8px;
    }
    .tn-navBar > ul{
      width: max-content;
      max-width: 100%;
    }
    .tn-navBar > ul > li > a{
      font-size: .8rem;
      font-weight: 600;
    }
    .tn-navBar > ul > li{
      margin-left: 10px;
      white-space: nowrap;
    }
  }