@import url(./pallet-color.css);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*CLASSES GERAIS*/
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:var(--tn-bg-gray);
}
.container {
  width: 100%;
  max-width: 1240px;
}

/*HEADER CONTENDO A LOGO DO PORTAL*/
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .tn-boxHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10rem;
}


header .tn-header-boxMenu {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 10rem;
  
}
header  .tn-header-boxMenu a{
    font-size: .8rem;
    color: var(--tn-tx-red);
    text-decoration: none;
    font-family: "Lato" ,sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    margin-left: 1rem;
}   

header  .tn-header-boxMenu .tn-box-btnMenu {
  display: flex;
  align-items: center;
}

header  .tn-header-boxMenu .tn-box-btnMenu .btnMenu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1.4rem;
  height: 1.2rem;
  cursor: pointer;
} 

header .tn-header-boxMenu .tn-box-btnMenu .btnMenu .list-btn {
  border: 2px solid var(--tn-tx-red);

}

header .tn-header-boxEdicao{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


header  .tn-header-boxEdicao a{
  text-decoration: none;
  font-family: "Lato" ,sans-serif;
  color: var(--tn-tx-black);
  font-weight: 600;
}
header  .tn-header-boxEdicao .tn-img-edicao{
  width: 100%;
  max-width: 5rem;
}
header  .tn-header-boxEdicao .tn-img-edicao img{
  width: 100%;
}


/*BARRA DE NAVEGACAO NO HEADER*/
header .tn-box-navBar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4rem;
  background-color: var(--tn-tx-red);
}
header .tn-navBar{
  width: 100%;
  max-width: 40rem;
}

header .tn-navBar > ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header .tn-navBar > ul > li > a{
  font-size: .7rem;
  color: #fff;
  text-decoration: none;
  font-family: "Lato", sans-serif;
}
header .tn-boxClimaCotacao{
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 28rem;
  font-family: "Lato", sans-serif;
}
header .tn-boxClimaCotacao > .tn-clima {
  display: flex;
  align-items: center;
  border-right: 1px solid #fff;

}

header .tn-boxClimaCotacao .tn-clima > .imgClima{
  width: 100%;
  max-width: 2rem;
}
header .tn-boxClimaCotacao > .tn-clima img{
  width: 100%;
}

header .tn-cotEuro > .imgCotEuro, header .tn-cotDolar > .imgCotDolar{
  width: 100%;
  max-width: 2rem;
}

header .tn-cotEuro > .imgCotEuro img, header .tn-cotDolar > .imgCotDolar img{
  width: 100%;
}

header .tn-cotEuro > .container-textCotEuro,header .tn-cotDolar > .container-textCotDolar{
  display: flex;
  flex-direction: column;
}

header .tn-cotEuro, header .tn-cotDolar {
display: flex;
align-items: center;

}